@font-face {
  font-family: 'Inter';
  font-weight: 100 900;
  font-style: normal;
  src: url('/fonts/InterVariable.woff2') format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-weight: 100 900;
  font-style: italic;
  src: url('/fonts/InterVariable-Italic.woff2') format('woff2');
}

@font-face {
  font-family: 'Inter Display';
  font-weight: 400;
  src: url('/fonts/InterDisplay-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Inter Display';
  font-weight: 500;
  src: url('/fonts/InterDisplay-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Inter Display';
  font-weight: 600;
  src: url('/fonts/InterDisplay-SemiBold.woff2') format('woff2');
}

@font-face {
  font-family: 'Monaspace';
  font-weight: 300 800;
  src: url('/fonts/MonaspaceNeonVarVF.woff2') format('woff2');
}

@layer reset, primitives, layout, components, theme, content;

@layer reset {
  *,
  :after,
  :before {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: 100%;
  }

  /* Force 16px base unit on all browsers */
  :root {
    --font-size: 16px;
  }

  ::selection {
    background-color: var(--text-selection);
  }

  body {
    margin: 0;
    padding: 0;
  }

  a,
  h1,
  h2,
  h3,
  h4,
  p {
    margin: 0;
  }

  a {
    color: inherit;
    text-decoration: none;
    position: relative;
    font-weight: 500;
    color: var(--colour-blue);
  }

  a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 1px;
    background: var(--colour-blue);
    left: 0;
    bottom: -2px;
    border-radius: 2px;
    transition: width 0.3s ease;
  }

  a:hover::after {
    width: 100%;
  }

  u {
    text-decoration: underline #3c6ddd;
    text-underline-offset: 2px;
    text-decoration-thickness: 1.5px;
    text-decoration-style: solid;
    font-weight: 450;
  }

  a:visited {
    color: var(--colour-blue);
  }

  button {
    all: unset;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font: inherit;
    text-align: center;
    user-select: none;
  }
}

/* Non semantic tokens / variables */
@layer primitives {
  :root {
    /* Colours - Neutrals */
    --colour-neutral-10: oklch(0.985 0.001 286.38);
    --colour-neutral-25: oklch(0.982 0.003 264.54);
    --colour-neutral-50: oklch(0.952 0.003 264.54);
    --colour-neutral-100: oklch(0.901 0.005 258.33);
    --colour-neutral-200: oklch(0.841 0.008 260.73);
    --colour-neutral-300: oklch(0.668 0.013 259.82);
    --colour-neutral-400: oklch(0.645 0.015 262.36);
    --colour-neutral-500: oklch(0.541 0.012 261.77);
    --colour-neutral-600: oklch(0.51 0.012 261.77);
    --colour-neutral-700: oklch(0.441 0.011 258.36);
    --colour-neutral-800: oklch(0.367 0.009 260.72);
    --colour-neutral-900: oklch(0.33 0.013 273.01);
    --colour-neutral-950: oklch(0.31 0.013 272.96);
    --colour-neutral-1000: oklch(0.244 0.006 271.17);
    --colour-neutral-1100: oklch(0.231 0.004 264.48);
    --colour-white: oklch(1 0 0);
    --colour-black: oklch(0 0 0);

    /* Colours - accents */
    --colour-blue: oklch(0.471 0.184 263.07);

    /* Font families */
    --font-sans: 'Inter', -apple-system, sans-serif;
    --font-display: 'Inter Display', -apple-system, sans-serif;
    --font-mono: 'Monaspace', monospace;

    /* Font sizes */
    --font-size-1: 0.5625rem; /* 9px */
    --font-size-2: 0.688rem; /* 11px */
    --font-size-3: 0.75rem; /* 12px */
    --font-size-4: 0.8125rem; /* 13px */
    --font-size-5: 0.9375rem; /* 15px */
    --font-size-6: 1.125rem; /* 18px */
    --font-size-7: 1.25rem; /* 20px */
    --font-size-8: 1.5rem; /* 24px */
    --font-size-9: 2rem; /* 32px */

    /* Radius */
    --radius-none: 0rem;
    --radius-xs: 0.125rem; /* 2px */
    --radius-sm: 0.25rem; /* 4px */
    --radius-md: 0.375rem; /* 6px */
    --radius-lg: 0.5rem; /* 8px */
    --radius-xl: 0.75rem; /* 12px */
    --radius-2xl: 1rem; /* 16px */
    --radius-max: 50rem; /* 800px */

    /* Thickness */
    --thickness-none: 0rem;
    --thickness-thinner: 0.0313rem; /* 0.5px */
    --thickness-thin: 0.0469rem; /* 0.75px */
    --thickness-default: 0.0625rem; /* 1px */
    --thickness-thick: 0.0938rem; /* 1.5px */
    --thickness-thicker: 0.125rem; /* 2px */
    --thickness-extra-thick: 0.1563rem; /* 2.5px */
    --thickness-thickest: 0.1875rem; /* 3px */

    /* Sizes */
    --size-1: 0.25rem; /* 4px */
    --size-2: 0.5rem; /* 8px */
    --size-3: 0.75rem; /* 12px */
    --size-4: 1rem; /* 16px */
    --size-5: 1.25rem; /* 20px */
    --size-6: 1.5rem; /* 24px */
    --size-7: 2rem; /* 32px */
    --size-8: 2.5rem; /* 40px */
    --size-9: 3rem; /* 48px */
    --size-10: 3.5rem; /* 56px */
    --size-11: 4rem; /* 64px */
    --size-12: 5rem; /* 80px */
    --size-13: 6rem; /* 96px */
    --size-14: 7.5rem; /* 120px */

    /* Font weights */
    --font-weight-regular: 450;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;

    /* Spacing */
    --spacing-1: 0.125rem; /* 2px */
    --spacing-2: 0.25rem; /* 4px */
    --spacing-3: 0.375rem; /* 6px */
    --spacing-4: 0.5rem; /* 8px */
    --spacing-5: 0.625rem; /* 10px */
    --spacing-6: 0.75rem; /* 12px */
    --spacing-7: 1rem; /* 16px */
    --spacing-8: 1.25rem; /* 20px */
    --spacing-9: 1.5rem; /* 24px */
    --spacing-10: 2rem; /* 32px */
    --spacing-11: 2.5rem; /* 40px */
    --spacing-12: 3rem; /* 48px */
    --spacing-13: 3.5rem; /* 56px */
    --spacing-14: 4rem; /* 64px */
    --spacing-15: 4.5rem; /* 72px */
    --spacing-16: 5rem; /* 80px */

    /* Shadows */
    --shadow-xs: 0 1px 2px 0 rgba(28, 29, 34, 0.06);
    --shadow-sm: 0 1px 2px 0 rgba(28, 29, 34, 0.12);
    --shadow-md: 0 2px 2px -1px rgba(28, 29, 34, 0.04),
      0 4px 12px -1px rgba(28, 29, 34, 0.08);
    --shadow-lg: 0 2px 2px -1px rgba(28, 29, 34, 0.04),
      0 8px 16px -2px rgba(28, 29, 34, 0.12);
    --shadow-xl: 0 2px 2px -1px rgba(28, 29, 34, 0.04),
      0 16px 24px -6px rgba(28, 29, 34, 0.16);
    --shadow-stroked-xs: 0 0 0 var(--thickness-thin) var(--border-default),
      0 1px 2px 0 rgba(28, 29, 34, 0.06);
    --shadow-stroked-sm: 0 0 0 var(--thickness-thin) var(--border-default),
      0 2px 3px -3px rgba(28, 29, 34, 0.08), 0 1px 2px 0 rgba(28, 29, 34, 0.12);
    --shadow-stroked-md: 0 0 0 var(--thickness-thin) var(--border-default),
      0 2px 2px -1px rgba(28, 29, 34, 0.04),
      0 6px 12px -1px rgba(28, 29, 34, 0.08);
    --shadow-stroked-lg: 0 0 0 var(--thickness-thin) var(--border-default),
      0 2px 2px -1px rgba(28, 29, 34, 0.04),
      0 8px 16px -2px rgba(28, 29, 34, 0.12);
    --shadow-stroked-xl: 0 0 0 var(--thickness-thin) var(--border-default),
      0 2px 2px -1px rgba(28, 29, 34, 0.04),
      0 16px 24px -6px rgba(28, 29, 34, 0.16);
  }

  body {
    background: var(--background-primary);
    color: var(--text-primary);
    font-family: var(--font-sans);
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100dvh;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    overflow-x: hidden;
  }

  @media (max-width: 640px) {
    body {
      padding: 0 16px;
    }
  }

  /* Base heading styles */
  h1 {
    font-size: var(--font-size-8);
    line-height: 1.2;
    font-family: var(--font-display);
    font-weight: var(--font-weight-semibold);
    margin-top: var(--spacing-12);
    margin-bottom: var(--spacing-7);
  }

  h2 {
    color: var(--text-primary);
    font-family: var(--font-sans);
    font-size: var(--font-size-6);
    font-weight: var(--font-weight-semibold);
    line-height: 1.55;
    letter-spacing: 0.00563rem;
    margin-bottom: var(--spacing-7);
  }

  h3 {
    color: var(--text-primary);
    font-family: var(--font-sans);
    font-size: var(--font-size-5);
    font-weight: var(--font-weight-semibold);
    line-height: 1.65;
    letter-spacing: -0.00438rem;
    margin-bottom: var(--spacing-7);
  }

  h4 {
    color: var(--text-primary);
    font-family: var(--font-sans);
    font-size: var(--font-size-4);
    font-weight: var(--font-weight-semibold);
    line-height: 1.65;
    letter-spacing: -0.00438rem;
  }

  p {
    color: var(--text-primary);
    font-family: var(--font-sans);
    font-size: var(--font-size-5);
    font-weight: var(--font-weight-regular);
    line-height: 1.65;
    letter-spacing: -0.006rem;
    text-wrap: pretty;
    overflow-wrap: break-word;
  }

  p + p {
    margin-top: var(--spacing-7);
  }

  blockquote {
    margin: var(--spacing-10) auto;
    color: var(--text-primary);
    font-family: var(--font-sans);
    font-size: var(--font-size-5);
    font-weight: var(--font-weight-regular);
    line-height: 1.65;
    letter-spacing: -0.006rem;
    text-wrap: pretty;
    overflow-wrap: break-word;
    padding: 0 0 0 1rem;
    line-height: 1.6;
    position: relative;
  }

  blockquote::before {
    content: '';
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    width: 0.25rem;
    background: var(--border-default);
    border-radius: 1rem;
  }

  blockquote span {
    display: block;
    color: var(--text-muted);
    font-family: var(--font-sans);
    font-size: var(--font-size-4);
    font-weight: var(--font-weight-semibold);
    line-height: 1.65;
    letter-spacing: -0.006rem;
    text-wrap: pretty;
    overflow-wrap: break-word;
    margin-top: 1em;
  }

  /* Utlities */
  .italic {
    font-style: italic;
  }

  .skew {
    transform: skewX(10deg) rotate(-5deg);
  }

  .skew-reverse {
    transform: skewX(-10deg) rotate(5deg);
  }
}

@layer theme {
  :root {
    /* Colours */
    --background-primary: var(--colour-white);
    --background-sunken: var(--colour-neutral-50);
    --background-subtle: var(--colour-neutral-25);
    --component-background-default: var(--colour-white);
    --component-background-hover: var(--colour-neutral-50);
    --component-background-button-default: var(--colour-white);
    --component-background-button-hover: var(--colour-neutral-25);
    --border-default: var(--colour-neutral-100);
    --border-alpha: rgba(74, 74, 82, 0.12);
    --text-primary: var(--colour-neutral-900);
    --text-secondary: var(--colour-neutral-700);
    --text-muted: var(--colour-neutral-500);
    --text-subtle: var(--colour-neutral-400);
    --text-selection: var(--colour-neutral-100);

    /* Layout */
    --body-width: 43rem;
  }

  /* Dark theme - cancelled for initial scope */
  :root.dark {
    --background-primary: var(--colour-neutral-1000);
    --background-sunken: var(--colour-neutral-800);
    --background-subtle: var(--colour-neutral-950);
    --component-background-default: var(--colour-neutral-900);
    --component-background-hover: var(--colour-neutral-800);
    --component-background-button-default: var(--colour-neutral-900);
    --component-background-button-hover: var(--colour-neutral-800);
    --border-default: oklch(0.3 0.01 256.88);
    --border-alpha: rgba(74, 74, 82, 0.12);
    --text-primary: var(--colour-neutral-50);
    --text-secondary: var(--colour-neutral-100);
    --text-muted: var(--colour-neutral-300);
    --text-selection: var(--colour-neutral-700);
  }
}

/* Layout layer for structural components */
@layer layout {
  main {
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 100%;
    width: 100%;
    max-width: var(--body-width);
    margin: 0 auto;
    padding: 7.5rem 0 0;
  }

  @media (max-width: 640px) {
    main {
      padding: 2rem 0 0;
    }
  }

  .header {
    margin-bottom: var(--spacing-10);
  }

  footer {
    margin-bottom: var(--spacing-12);
    margin-top: var(--spacing-12);
    max-width: var(--body-width);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: var(--thickness-default) solid var(--border-default);
    padding-top: var(--spacing-10);
  }

  .header__headline {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-4);
  }

  .index__title--h1 {
    color: var(--text-primary);
    font-family: var(--font-sans);
    font-size: var(--font-size-6);
    font-weight: var(--font-weight-semibold);
    line-height: 1.55;
    letter-spacing: 0.00563rem;
    margin-top: var(--spacing-4);
    margin-bottom: var(--spacing-1);
    line-height: 1.67;
  }

  .index__title--h3 {
    color: var(--text-muted);
    font-family: var(--font-sans);
    font-size: var(--font-size-5);
    font-weight: var(--font-weight-medium);
    line-height: 1.7;
    letter-spacing: -0.00438rem;
    margin: 0;
  }

  .about__h2 {
    font-size: var(--font-size-8);
  }

  .about__hero {
    display: flex;
    gap: var(--spacing-9);
  }

  .about__section {
    margin-bottom: var(--spacing-12);
  }

  .about-sections {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-10);
    margin-top: var(--spacing-12);
    scroll-margin-top: 40px;
  }

  .testimonials {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--spacing-9);
    width: 140%;
    margin-left: -20%;
    margin-right: -20%;
    margin-bottom: var(--spacing-8);
    margin-top: var(--spacing-8);
  }

  .testimonial {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-8);
    background: white;
    padding: 16px 24px;
    border-radius: 6px;
    box-shadow: var(--shadow-stroked-md);
    flex: 1;
    min-width: 0;
    z-index: 10;
  }

  .testimonial p {
    margin: 0;
    font-size: var(--font-size-4);
    font-weight: var(--font-weight-medium);
    line-height: 1.7;
    letter-spacing: -0.00406rem;
  }

  .testimonial__content {
    display: flex;
    flex-direction: column;
    gap: 6px;
    flex-grow: 1;
  }

  .testimonial__author {
    display: flex;
    gap: var(--spacing-4);
    align-items: center;
  }

  .testimonial__author--image {
    width: 16px;
    height: 16px;
    border-radius: 100%;
  }

  .testimonial__author--name {
    font-size: var(--font-size-4);
    color: var(--text-secondary);
    font-weight: var(--font-weight-medium);
    line-height: 1.5;
    letter-spacing: -0.00406rem;
  }

  .principles {
    display: flex;
    justify-content: space-between;
    gap: var(--spacing-9);
    width: 130%;
    margin-left: -15%;
    margin-right: -15%;
    margin-bottom: var(--spacing-8);
    margin-top: var(--spacing-11);
  }

  .principle {
    background: var(--background-sunken);
    padding: 24px;
    border-radius: 8px;
    flex: 1;
    min-width: 0;
  }

  .principle-simple {
    background: #f5f8ff;
  }

  .principle-details {
    background: #faf5ff;
  }

  .principle-quality {
    background: #fff5eb;
  }

  .principle__icon {
    width: 16px;
    height: 16px;
  }

  .principle__header {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-4);
    margin-bottom: var(--spacing-4);
  }

  .principle p {
    text-wrap-style: balance;
  }

  .principle h3 {
    margin-bottom: 0;
  }

  .skills-container {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
  }

  .skill-pill {
    display: flex;
    padding: var(--spacing-2) var(--spacing-5);
    align-items: center;
    gap: var(--spacing-3);
    border-radius: var(--radius-sm);
    background: #e9ecef;
    box-shadow: 0px 0px 0px var(--thickness-thinner) rgba(58, 66, 74, 0.08)
      inset;
    color: #3a424a;
    font-family: var(--font-sans);
    font-size: var(--font-size-4);
    font-style: normal;
    font-weight: var(--font-weight-medium);
    line-height: 1.25rem;
    user-select: none;
  }

  .header__polariod {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 300px;
    width: 240px;
    border-radius: var(--radius-sm);
    overflow: hidden;
    flex-shrink: 0;
    box-shadow: var(--shadow-stroked-md);
    padding: 12px 12px 32px 12px;
    background: white;
    transform: scale(1.1) rotate(7deg) translate(64px, 16px);
    transition: all 0.2s ease;
  }

  .header__polariod:hover {
    transform: scale(1.2) rotate(5deg) translate(64px, 32px);
    box-shadow: var(--shadow-stroked-lg);
  }

  .header__polaroid-image {
    --scale-factor: 0.5;
    height: 98%;
    width: 100%;
    object-fit: cover;
    border-radius: calc(var(--radius-sm) * var(--scale-factor));
  }

  .header__polariod-caption,
  .photo__collection--caption {
    font-size: var(--font-size-3);
    font-family: Monaspace;
    color: var(--text-muted);
    font-weight: var(--font-weight-medium);
    line-height: 1.65;
    letter-spacing: -0.006rem;
  }

  .header__headline h1 {
    font-size: var(--font-size-9);
    margin-top: var(--spacing-4);
    margin-bottom: var(--spacing-4);
    line-height: 1.67;
  }

  .communications {
    display: flex;
    gap: var(--spacing-4);
    align-items: center;
    justify-content: space-between;
    margin: var(--spacing-12) 0 var(--spacing-14);
  }

  .social-links {
    display: flex;
    gap: var(--spacing-4);
  }

  .social-links a {
    height: 32px;
    width: 32px;
  }

  .social-links a::after {
    display: none;
  }

  .social-icon {
    width: 16px !important;
    height: 16px !important;
  }

  .header__headline h2 {
    font-size: var(--font-size-8);
  }

  hr {
    border: none;
    height: var(--thickness-default);
    background-color: var(--border-default);
    margin: var(--spacing-11) 0;
  }

  .section-header {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-4);
    margin-bottom: var(--spacing-9);
  }

  .section-header__title {
    margin: 0;
  }

  .photo__collection {
    display: flex;
    gap: var(--spacing-4);
    width: 130%;
    margin: 64px -15% 48px -15%;
  }

  .photo__collection--item {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 280px;
    width: 25%;
    border-radius: var(--radius-sm);
    overflow: hidden;
    flex-shrink: 0;
    box-shadow: var(--shadow-stroked-md);
    padding: 12px 12px 32px 12px;
    background: white;
    transform: rotate(5deg);
    transition: all 0.2s ease;
  }

  .photo__collection--item:nth-child(even) {
    transform: rotate(-5deg);
    transition: all 0.2s ease;
  }
}

@layer components {
  :root {
    --profile-image-size: var(--size-12);
  }

  .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-3);
    padding: var(--spacing-2) var(--spacing-5) var(--spacing-2) var(--spacing-6);
    border-radius: var(--radius-md);
    color: var(--text-primary);
    font-family: var(--font-sans);
    font-size: var(--font-size-4);
    font-style: normal;
    font-weight: var(--font-weight-medium);
    line-height: 1.5;
    letter-spacing: -0.00406rem;
    cursor: pointer;
    transition: 0.2s;
  }

  .btn--default {
    background: var(--component-background-default);
    box-shadow: var(--shadow-stroked-sm);
  }

  .btn--default:hover {
    background: var(--component-background-hover);
  }

  .btn--ghost {
    background: transparent;
    border: none;
  }

  .btn--ghost:hover {
    background: var(--component-background-hover);
  }

  .btn__icon--ghost {
    background: var(--component-background-ghost);
    height: var(--size-6);
    width: var(--size-6);
    padding: 0;
    color: var(--text-muted);
  }

  .btn__icon--ghost:hover {
    background: var(--component-background-hover);
  }

  .btn-default-trailing {
    color: var(--text-muted);
    transform: translateY(1px);
  }

  .btn--back svg {
    transform: translateX(0px);
    transition: all 0.25s cubic-bezier(0.34, 1.56, 0.64, 1);
    will-change: transform, color;
  }

  .btn--back:hover svg {
    transform: translateX(-2px);
  }

  .btn--back:active svg {
    transform: translateX(-1px);
    transition-duration: 0.1s;
  }

  .header__button,
  .contact__button {
    border-radius: var(--radius-md);
    box-shadow: var(--shadow-stroked-xs);
    gap: var(--spacing-5);
    padding: 0 12px;
    height: 38px;
    font-weight: var(--font-weight-medium);
    font-size: 0.875rem;
    background: white;
  }

  .header__button-icon,
  .contact__button-icon {
    transform: translateY(1px) translateX(0px);
    color: var(--text-muted);
    transition: all 0.25s cubic-bezier(0.34, 1.56, 0.64, 1);
    will-change: transform, color;
  }

  .header__button:hover .header__button-icon {
    transform: translateY(1px) translateX(2px);
    color: var(--text-secondary);
  }

  .header__button:active .header__button-icon {
    transform: translateY(1px) translateX(1px);
    transition-duration: 0.1s;
  }

  .header__headline-profile-image {
    position: relative;
    width: var(--profile-image-size);
    height: var(--profile-image-size);
    border-radius: 100%;
    margin-bottom: var(--spacing-7);
    user-select: none;
  }

  .header__headline-profile-image:after {
    content: '';
    border: var(--thickness-default) solid var(--border-alpha);
    border-radius: 100%;
    height: var(--profile-image-size);
    width: var(--profile-image-size);
    position: absolute;
    margin-left: calc(-1 * var(--profile-image-size));
    box-sizing: border-box;
    pointer-events: none;
  }

  .profile-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 100%;
  }

  .header__buttons {
    display: flex;
    gap: var(--spacing-8);
    margin: var(--spacing-10) 0 0;
  }

  .contact__buttons {
    display: flex;
    gap: var(--spacing-7);
  }

  .projects {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-9);
    margin-bottom: var(--spacing-13);
  }

  .projects__card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: oklch(0.99 0 0);
    border-radius: var(--radius-xl);
    padding: var(--spacing-7) var(--spacing-7);
    gap: var(--spacing-14);
    box-shadow: var(--shadow-stroked-xs);
    transition: background 0.2s ease;
    overflow: hidden;
    height: 170px;
  }

  .projects__card:hover {
    filter: brightness(0.98);
  }

  .projects__card-image {
    max-width: 30%;
    height: auto;
    object-fit: contain;
    transition: transform 0.2s ease;
    pointer-events: none;
    user-select: none;
    border: none;
    border-radius: 0;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
    filter: none;
    box-shadow: none;
    --mask-bottom: linear-gradient(to bottom, #000 50%, transparent 90%);
    --mask-left: linear-gradient(to left, #000 90%, transparent 100%);
    --mask-bottom-left: linear-gradient(-110deg, #000 100%, transparent 155%);
    mask-image: var(--mask-bottom), var(--mask-bottom-left), var(--mask-left);
    mask-composite: intersect;
  }

  .projects__card:hover .projects__card-image {
    transform: skewX(-10deg) rotate(5deg) scale(1.05);
  }

  .projects__card-details {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-7);
    flex: 1;
  }

  .projects__card-content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-2);
  }

  .projects__card-paragraph {
    margin-bottom: 0;
    color: var(--text-muted);
    font-size: var(--font-size-4);
    font-weight: var(--font-weight-medium);
    line-height: 1.65;
    letter-spacing: -0.006rem;
  }

  .projects__card-image--knowledgebase {
    margin-bottom: -16px;
    margin-right: 12px;
  }

  .projects__card-image--override {
    max-width: 24%;
    margin-top: 10px;
    margin-right: 24px;
  }

  .projects__card-icon-container {
    height: var(--size-7);
    width: var(--size-7);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--radius-lg);
    background: transparent;
  }

  .projects__card-icon-container--kpi {
    background: #ebf6ff;
  }

  .projects__card-icon-container--user {
    background: #f4f0fe;
  }

  .projects__card-icon-container--nav {
    background: #fcf1f1;
  }

  .projects__card-icon-container svg {
    height: var(--size-4);
    width: var(--size-4);
  }

  .projects__card-icon-container--kpi svg {
    color: #1e50c0;
  }

  .projects__card-icon-container--user svg {
    color: #55349d;
  }

  .projects__card-icon-container--nav svg {
    color: #c53d40;
  }

  @media (max-width: 480px) {
    .projects__card {
      flex-direction: column-reverse;
      height: auto;
      gap: var(--spacing-5);
      padding: var(--spacing-8);
    }

    .projects__card-image {
      max-width: 80%;
      margin-right: 0;
      margin-bottom: 0px;
    }

    .projects__card-details {
      display: flex;
      flex-direction: row;
      gap: 8px;
      flex: 1;
    }

    .projects__card-icon-container {
      background: none;
      height: auto;
      align-items: flex-start;
      margin-top: 4px;
    }

    .projects__card-image--knowledgebase {
      margin-top: 10px;
    }

    .projects__card-image--override {
      height: 200px;
    }

    .projects__card-paragraph {
      margin-left: -24px;
      margin-top: 4px;
    }
  }

  /* Image Styling */
  .md__image {
    position: relative;
    overflow: hidden;
    border-radius: var(--radius-2xl);
    background: var(--background-sunken);
    height: auto;
    width: 100%;
    display: block;
    margin: var(--spacing-8) 0;
  }

  .md__image img {
    position: relative;
    width: 100%;
    height: auto;
    display: block;
    z-index: 1;
  }

  .experience__entry--date {
    color: var(--text-muted);
    font-weight: var(--font-weight-medium);
  }

  .experience h2 {
    margin-bottom: 24px;
  }

  .experience__entry:last-child {
    margin-top: 24px;
  }

  .experience__entry h3 {
    margin-bottom: 4px;
  }

  .experience__entry p {
    margin-top: 6px;
  }

  /* Banner component */
  .banner {
    display: flex;
    gap: var(--spacing-6);
    width: 100%;
    background: oklch(0.98 0 0);
    background: #fafafa;
    padding: var(--spacing-8) var(--spacing-10) var(--spacing-8)
      var(--spacing-7);
    border-radius: var(--radius-md);
    box-shadow: var(--shadow-stroked-xs);
    margin-top: var(--spacing-10);
    margin-bottom: var(--spacing-12);
  }

  .banner-icon {
    flex-shrink: 0;
  }

  .banner-content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-2);
  }

  .banner-header {
    width: 100%;
    font-size: var(--font-size-5);
    font-weight: var(--font-weight-semibold);
    color: var(--text-primary);
    line-height: 1.5;
    margin-bottom: var(--spacing-4);
  }

  .banner-text {
    text-overflow: ellipsis;
    font-size: var(--font-size-5);
    white-space: wrap;
    text-wrap: pretty;
    max-width: 100%;
    flex-wrap: wrap;
    min-width: 0px;
    font-weight: var(--font-weight-medium);
    line-height: 20px;
    color: var(--text-primary);
  }
}

/* Content layer for content-specific styles */
@layer content {
  .article-content {
    max-width: 720px;
    margin: 0 auto;
  }

  .article-content__figure {
    margin: var(--spacing-8) 0;
    display: flex;
    flex-direction: column;
  }

  .article-content__figure figcaption {
    margin-top: -16px;
    color: var(--text-muted);
    font-style: italic;
    font-size: var(--font-size-4);
    font-weight: var(--font-weight-medium);
  }

  .article-content__image {
    width: 130%;
    align-self: center;
    height: auto;
    margin: var(--spacing-10) -15%;
    border-radius: var(--radius-md);
    outline: var(--thickness-default) solid var(--border-default);
    outline-offset: -1px;
  }

  .article-content__image--app {
    width: 130%;
    align-self: center;
    height: auto;
    margin: var(--spacing-10) -15%;
    border-radius: var(--radius-lg);
    outline: var(--thickness-default) solid var(--border-default);
    outline-offset: -1px;
  }

  .sunken-image {
    padding: 80px;
    background: var(--background-subtle);
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  .sunken-image__new-kpi {
    padding: 56px;
    background: var(--background-subtle);
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  .sunken-image-2 {
    padding: 40px;
    background: var(--background-subtle);
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  .sunken-image-3 {
    padding: 48px 48px 0 48px;
    background: var(--background-subtle);
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  figure + p {
    margin-top: var(--spacing-13);
  }

  .article-content h2 {
    margin-top: var(--spacing-10);
    margin-bottom: var(--spacing-6);
    font-size: var(--font-size-6);
    font-family: var(--font-sans);
  }

  .article-content h3,
  .article-content h4,
  .article-content h5,
  .article-content h6 {
    margin-top: var(--spacing-4);
    margin-bottom: var(--spacing-5);
    font-size: var(--font-size-5);
    font-family: var(--font-sans);
  }

  .article-content ul,
  .article-content ol {
    color: var(--text-primary);
    font-family: var(--font-sans);
    font-size: var(--font-size-5);
    font-weight: var(--font-weight-regular);
    line-height: 1.75;
    letter-spacing: -0.00438rem;
    margin-bottom: var(--spacing-8);
    text-wrap: pretty;
    padding-left: var(--spacing-10);
  }

  .article__hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-10);
    position: relative;
  }

  .article__hero-header {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-4);
    margin-bottom: var(--spacing-9);
    padding: 0 var(--spacing-9);
  }

  .article__hero-header h1 {
    text-align: center;
    font-size: var(--font-size-9);
    margin-top: 0;
  }

  .article__hero-header h4 {
    text-align: center;
    font-size: var(--font-size-5);
    color: var(--text-muted);
    font-weight: var(--font-weight-medium);
    font-style: italic;
  }

  .article__hero-image-bloom--kpi {
    position: absolute;
    width: 60%;
    height: 60%;
    background: radial-gradient(
      ellipse,
      rgba(125, 0, 255, 0.3) 0%,
      rgba(255, 100, 200, 0.2) 40%,
      transparent 70%
    );
    filter: blur(120px);
    z-index: 0;
    top: 30%;
    border-radius: 80%;
  }

  .article__hero-image-bloom--override {
    position: absolute;
    width: 50%;
    height: 50%;
    background: radial-gradient(
      ellipse,
      rgba(255, 102, 51, 0.4) 0%,
      rgba(255, 71, 148, 0.45) 40%,
      rgba(225, 29, 72, 0.3) 70%,
      transparent 89%
    );
    filter: blur(130px);
    z-index: 0;
    top: 35%;
    border-radius: 80%;
    opacity: 0.5;
  }

  .article__hero-image--kpi {
    width: 75%;
    height: auto;
    object-fit: cover;
    margin-top: 24px;
    margin-bottom: 96px;
    position: relative;
    z-index: 1;
    transition: transform 0.3s ease;
  }

  .perspective-image-container {
    width: 100%;
    height: 500px;
    position: relative;
    overflow: hidden;
    border-radius: var(--radius-lg);
    border: var(--thickness-thin) solid var(--border-default);
  }

  .perspective-image {
    position: absolute;
    width: 100%;
    height: 600px;
    transform-origin: center center;
    transform-style: preserve-3d;
    perspective: 1000px;
    transform: rotateX(42deg) rotateY(13deg) rotateZ(-33deg) scale(1.5)
      translateY(-52px) translateX(108px);
    border: none;
    outline: none;
  }

  .article__hero-image--knowledgebase {
    width: 120%;
    margin-left: -10%;
    margin-right: -10%;
    height: auto;
    object-fit: cover;
    margin-top: 0;
    margin-bottom: 48px;
    position: relative;
    z-index: 1;
    transition: transform 0.3s ease;
    mask-image: var(--mask-bottom);
    mask-composite: intersect;
    --mask-bottom: linear-gradient(to bottom, #000 60%, transparent 100%);
    border: var(--thickness-default) solid var(--border-default);
    border-radius: var(--radius-lg);
  }

  .article__hero-image--override {
    width: 90%;
    height: auto;
    object-fit: cover;
    margin-top: 0;
    margin-bottom: 48px;
    position: relative;
    z-index: 1;
    transition: transform 0.3s ease;
  }

  img.audit-image {
    mask-image: var(--mask-bottom);
    mask-composite: intersect;
    --mask-bottom: linear-gradient(to bottom, #000 60%, transparent 100%);
    width: 100%;
    height: auto;
  }

  .article__divider {
    margin: var(--spacing-14) 0 var(--spacing-7);
  }

  /* Lightbox styles */
  .lightbox-image {
    transition: opacity 0.3s;
  }

  .lightbox-image:hover {
    cursor: zoom-in;
  }

  .lightbox {
    display: none;
    position: fixed;
    z-index: 1000;
    padding: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: var(--background-subtle);
    opacity: 0;
    transition: opacity 0.3s ease;
    cursor: zoom-out;
  }

  .lightbox-content,
  .lightbox-caption {
    cursor: zoom-out;
  }

  .lightbox-close {
    position: fixed;
    top: var(--spacing-4);
    right: var(--spacing-4);
    cursor: pointer;
    color: var(--text-primary);
    padding: var(--spacing-4);
    border-radius: var(--radius-md);
    z-index: 1001;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--background-primary);
    box-shadow: var(--shadow-sm);
  }

  .lightbox-close:hover {
    background: var(--component-background-hover);
  }

  .lightbox-close svg {
    cursor: pointer !important;
  }

  .lightbox.show {
    opacity: 1;
  }

  .lightbox-content {
    margin: auto;
    display: block;
    max-width: 95%;
    max-height: 95vh;
    transform: scale(0.95);
    border-radius: var(--radius-lg);
    outline: var(--thickness-default) solid var(--border-default);
    outline-offset: -1px;
    box-shadow: var(--shadow-lg);
    opacity: 0;
    transition:
      transform 0.4s ease,
      opacity 0.4s ease;
    cursor: zoom-out;
    position: relative;
    top: 50%;
    transform: translateY(-50%) scale(0.95);
  }

  .lightbox.show .lightbox-content {
    transform: translateY(-50%) scale(1);
    opacity: 1;
  }

  .lightbox-caption {
    margin: auto;
    display: block;
    width: 90%;
    max-width: 700px;
    text-align: center;
    color: var(--text-primary);
    padding: 10px 0;
    height: auto;
    font-size: var(--font-size-3);
    font-weight: var(--font-weight-medium);
    margin-top: var(--spacing-4);
  }

  @media (max-width: 640px) {
    .lightbox {
      padding: 0;
    }

    .lightbox-content {
      max-width: 100%;
      max-height: 100vh;
      border-radius: 0;
      outline: none;
      box-shadow: none;
    }

    .lightbox-close {
      top: var(--spacing-2);
      right: var(--spacing-2);
      padding: var(--spacing-2);
    }
  }

  .goals {
    display: flex;
    gap: var(--spacing-10);
    margin-bottom: var(--spacing-13);
    margin-top: var(--spacing-8);
  }

  .user-goals,
  .business-goals {
    flex: 1;
    background: #f5f8ff;
    padding: 6px 40px 6px 20px;
    border-radius: var(--radius-lg);
    box-shadow: var(--shadow-stroked-sm);
  }

  .user-goals {
    background: #f5f8ff;
  }

  .business-goals {
    background: #faf5ff;
  }

  .goals li {
    text-wrap: auto;
  }
}

@media (max-width: 640px) {
  .article__hero {
    gap: 0px;
  }

  .article__hero-header {
    padding: 0;
  }

  .article__hero-image--kpi {
    margin-bottom: 40px;
  }

  .article__hero-image--knowledgebase {
    width: 100%;
    margin: 0;
    border-radius: var(--radius-sm);
    margin-bottom: 12px;
  }

  .perspective-image-container {
    width: 100%;
    height: 320px;
  }

  .perspective-image {
    width: auto;
    height: auto;
    transform: rotateX(42deg) rotateY(13deg) rotateZ(-33deg) scale(1.5)
      translateY(-40px) translateX(6px);
  }

  .goals {
    flex-direction: column;
  }

  .article-content__image--app,
  .article-content__image {
    width: 100%;
    margin: var(--spacing-4) 0 var(--spacing-10);
    border-radius: var(--radius-sm);
  }

  .lightbox-content {
    width: 93%;
    margin: 0 16px;
  }

  .lightbox-close {
    top: var(--spacing-8);
    right: var(--spacing-8);
    padding: var(--spacing-4);
  }

  .testimonials {
    grid-template-columns: 1fr;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  @media (max-width: 640px) {
    .testimonials {
      grid-template-columns: 1fr;
    }

    .about__hero {
      flex-direction: column;
    }

    .header__polariod {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 280px;
      height: 380px;
      margin: 24px auto;
      padding: 20px 12px 32px 12px;
      background: white;
      border-radius: var(--radius-sm);
      box-shadow: var(--shadow-stroked-md);
      transform: none;
    }

    .header__polaroid-image {
      --scale-factor: 0.5;
      height: 100%;
      width: 100%;
      max-width: 100%;
      object-fit: cover;
      border-radius: calc(var(--radius-sm) * var(--scale-factor));
    }

    .principles {
      display: flex;
      flex-direction: column;
      gap: var(--spacing-10);
      width: 100%;
      margin: 24px 0;
    }

    .photo__collection {
      display: none;
    }

    .communications {
      display: flex;
      flex-direction: column;
      gap: var(--spacing-10);
      margin-bottom: 24px;
    }

    .about__section {
      gap: var(--spacing-4);
      margin-bottom: 12px;
    }

    .skills-container {
      margin-bottom: 24px;
    }
  }
}
